<div class="container">
  <h2>Team Generator</h2>

  <app-add-member-section
    [newMember]="form.newMember"
    [error]="form.errors.newMember"
    (addNewMemberEvent)="form.updateNewMember($event)"
    (addEvent)="addMember()" />

  <div class="members_container">
    <h3>Members:</h3>

    <app-members-list [members]="service.members" />
  </div>

  <div>
    <app-generate-teams-section
      [numberOfTeams]="form.numberOfTeams"
      [error]="form.errors.teams"
      (updateNumberOfTeamsEvent)="form.updateNumberOfTeams($event)"
      (generateTeamsEvent)="generateTeams()" />

    <app-teams-section [teams]="service.teams" />
  </div>
</div>
