<div class="container">
  <h2>Team Generator</h2>

  <div class="add_member_container">
    <input
      #addMemberInput
      type="text"
      placeholder="Name"
      [ngClass]="{ input: true, input_error: form.errors.newMember }"
      [value]="form.newMember"
      (input)="form.updateNewMember(addMemberInput.value)" />

    <button class="add_member_button" (click)="addMember()">Add</button>
  </div>

  <span class="error_message" *ngIf="form.errors.newMember">
    Name cant be blank
  </span>

  <div class="members_container" *ngIf="service.hasMembers">
    <h3>Members</h3>

    <div>
      <ul class="members">
        <li class="member" *ngFor="let member of service.members">
          {{ member }}
        </li>
      </ul>
    </div>
  </div>
</div>
