* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font:
    28px "Poppins",
    sans-serif;
}

button {
  cursor: pointer;
}


.input {
  padding: 6px;
  border-radius: 7px;
}

.input_error {
  border: 1px red;
  border-style: solid;
}

.error_message {
  font-size: 18px;
  color: red;
}
