* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f6f8fa;
  --background2-color: #e1e4e8;
  --background-light-color: #fff;

  --text-color: #24292e;
  --primary-color: #0366d6;
  --secondary-color: #6a737d;

  --green-color: #28a745;
  --green-bold-color: #218838;

  --loading-base-color: #eaeaea;
  --loading-highlight-color: #f2f2f2;
}

body {
  background: var(--background-light-color);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font:
    16px "Poppins",
    sans-serif;
}

button {
  cursor: pointer;
}
